body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2{
    font-size:larger;
  }
  #header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
  }
  
  .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
   

  }
  
  #header-img {
    height: 50px;
    margin-right: 10px;
  }
  #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  #nav-bar {
    display: flex;
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  #sections{
display: flex;
flex-direction: column;
justify-content: start;
padding: 10px;
 margin-left: 100px;
  }
  section {
    display: flex;
    
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  
  #video-container {
    display: flex;
    justify-content: center;
  }
  
  #div-video{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  #video {
   
    width: 560px;
    height: 315px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
  }
  
  input[type="email"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  /* Media Query */
  @media (max-width: 100px) {
    #header-img {
      width: 20px;
    }

    #header h1 {
      font-size: 24px;
    }

    .nav-link {
      padding: 5px 10px;
    }
  }
 